<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .input-icons i {
            position: absolute;
        }
          
        .input-icons {
            width: 100%; margin-bottom: 10px;
        }
          
        .icon {
            padding: 10px; min-width: 40px;
        }
          
        .input-field {
            width: 100%; padding: 10px; padding-left: 40px;
        }
        .font-search
        {
            font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px;
        }
    </style>

    <title><%= title %></title>
  </head>
  <body>
    <div class="container-fluid">
  
        <!-- h-100 takes the full height 
                 of the container-->
        <div class="row">
            <div class="col-auto" style="background-color: #0D28A6;">
                <a class="d-block px-4 py-3" href="#">
                    <img src="../../public/logo-box.png" width="34" height="34" alt="">
                </a>
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li class="nav-item py-2">
                        <a href="/" aria-current="page">
                            <img src="../../public/icons/home.png" alt="">
                            <p class="text-light">
                                Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item py-2">
                        <a href="/cars" aria-current="page">
                            <img src="../../public/icons/fi_truck.png" alt="">
                            <p class="text-light">
                                Cars
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <!-- Top navbar -->
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="col-2">
                        <a class="navbar-brand mx-1" href="#">
                            <img src="../../public/logo.png" alt="logo" width="100" height="34">
                        </a>
                    </div>
                    <div class="col-5">
                        <a class="mx-1" href="#">
                            <img src="../../public/icons/fi_menu.png" alt="menu">
                        </a>     
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-7">
                                <form class="form-inline input-icons">
                                    <i>
                                        <img class="icon" src="../../public/icons/fi_search.png" alt="logo">
                                    </i>
                                    <input class="border border-1 input-field pt-1" type="search" placeholder="Search" aria-label="Search" style="width: 180px; height: 36px;">
                                    <button class="btn btn-light btn-outline-primary font-search" type="submit" style="height: 36px; margin-left: -4px;">Search</button>
                                </form>   
                            </div>
                            <div class="col-5">
                                <img src="../../public/icons/profil.png" alt="">
                                <span class="px-2">
                                    Unis Badri
                                </span>
                                <img src="../../public/icons/fi_chevron-down.png" alt="">
                            </div>
                        </div>
                    </div>
                </nav>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
