<%- include("partials/navigation") %>
<style>
  .font-sidebar{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px;
  }
  .font-source{
    font-family: 'Helvetica'; font-style: normal; font-size: 12px; line-height: 18px;
  }
  .font-title{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 30px; color: #000000;
  }
</style>
<main class="col">
  <div class="row">
    <div class="col-2">
      <div class="d-block my-2">
        <span class="font-sidebar mx-1" style="color: #8A8A8A;">CARS</span>
      </div>
      <div class="d-block my-4" style="height:40px; background-color: #CFD4ED;">
        <span class="d-block font-sidebar mx-1 pt-2">List Cars</span>
      </div>      
    </div>
    <div class="col p-3" style="background-color: #E5E5E5;">
        <div class="d-block mb-3">
            <span class="font-source" style="font-weight: 700; color: #000000;">Cars</span> 
            <img class="mx-1" src="../../public/icons/fi_next.png" alt="">
            <span class="font-source" style="font-weight: 700; color: #000000;">List Car</span>
            <img class="mx-1" src="../../public/icons/fi_next.png" alt="">
            <span class="font-source" style="font-weight: 300; color: #222222;">Add New Car</span>
        </div>
        <div class="d-block mb-3 position-relative">
            <span class="font-title">Add New Car</span>
        </div>
        <div class="card p-3">
           <form action="">
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Placeholder">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Harga</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Placeholder">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-10">
                    <input type="file" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Start Rent</label>
                    <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="-">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Finish Rent</label>
                    <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="-">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Created at</label>
                    <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="-">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Updated at</label>
                    <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="-">
                    </div>
                </div>
                <a href="/cars" class="btn btn-primary" style="background: #FFFFFF; color: blue;">Cancel</a>
                <a href="/cars" type="submit" class="btn btn-primary">Save</a>
           </form>
        </div>
    </div>
  </div>
</main>
</div>
</div>
</div>
</body>
</html>