<%- include("partials/navigation") %>
<style>
  .font-sidebar{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px;
  }
  .font-source{
    font-family: 'Helvetica'; font-style: normal; font-size: 12px; line-height: 18px;
  }
  .font-title{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 20px; line-height: 30px; color: #000000;
  }

</style>
<main class="col" style="height: 1000px;">
  <div class="row">
    <div class="col-2">
      <div class="d-block my-2">
        <span class="font-sidebar mx-1" style="color: #8A8A8A;">CARS</span>
      </div>
      <div class="d-block my-4" style="height:40px; background-color: #CFD4ED;">
        <span class="d-block font-sidebar mx-1 pt-2">List Cars</span>
      </div>      
    </div>
    <div class="col p-3" style="background-color: #E5E5E5;">
      <div class="d-block mb-3">
        <span class="font-source" style="font-weight: 700; color: #000000;">Cars</span> 
        <img class="mx-1" src="../../public/icons/fi_next.png" alt="">
        <span class="font-source" style="font-weight: 300; color: #222222;">List Car</span>
      </div>
      <div class="d-block mb-3">
        <span class="font-title">List Car</span>
      </div>
      <div>
        <table id="example" class="display" style="width:100%;">
          <thead>
              <tr style="height:44px; background: #CFD4ED;">
                  <th class="col-1 text-center font-sidebar">No</th>
                  <th class="col-2 font-sidebar">User Email</th>
                  <th class="col-2 font-sidebar">Car</th>
                  <th class="col-2 font-sidebar">Start Rent</th>
                  <th class="col-2 font-sidebar">Finish Rent</th>
                  <th class="col-2 font-sidebar">Price</th>
                  <th class="col-1 font-sidebar">Status</th>
              </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<10; i++) {%>
              <tr style="height:44px; background: #FFFFFF;;">
                <td class="text-center font-sidebar" style="font-weight: 300;"><%= [i+1] %></td>
                <td class="font-sidebar" style="font-weight: 300;">User Email</td>
                <td class="font-sidebar" style="font-weight: 300;">Car</td>
                <td class="font-sidebar" style="font-weight: 300;">Start Rent</td>
                <td class="font-sidebar" style="font-weight: 300;">Finish Rent</td>
                <td class="font-sidebar" style="font-weight: 300;">Price</td>
                <td class="font-sidebar" style="font-weight: 300;">Status</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
</div>
</div>
</div>
</body>
</html>