<%- include("partials/navigation") %>
<style>
  .font-sidebar{
    font-family: 'Helvetica'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px;
  }
  .font-source{
    font-family: 'Helvetica'; font-style: normal; font-size: 12px; line-height: 18px;
  }

</style>
<main class="col" style="height: 1000px;">
  <div class="row">
    <div class="col-2">
      <div class="d-block my-2">
        <span class="font-sidebar mx-1" style="color: #8A8A8A;">DASHBOARD</span>
      </div>
      <div class="d-block my-4" style="height:40px; background-color: #CFD4ED;">
        <span class="d-block font-sidebar mx-1 pt-2">Dashboard</span>
      </div>      
    </div>
    <div class="col p-3" style="background-color: #E5E5E5;">
      <div class="d-block">
        <span class="font-source" style="font-weight: 700; color: #000000;">Dashboard</span> 
        <img class="mx-1" src="../../public/icons/fi_next.png" alt="">
        <span class="font-source" style="font-weight: 300; color: #222222;">Dashboard</span>
      </div>
    </div>
  </div>
</main>
</div>
</div>
</div>
</body>
</html>